@model And.Eticaret.UI.Web.Models.Sınıflar.Product
@{
    ViewBag.Title = "Detail";
}
<h2>ÜRÜN DETAYI</h2>
<div class="productBox">
    <p class="title">@Model.Name</p>

    <img src="@Model.ImageUrl" />

    <p>
        @Model.Brand
    </p>
    <p>
        @Model.Price.ToString("##,## ₺")
    </p>


    <p>
        @Model.Description
    </p>

    <a href="#" class="btn btn-default"><i class="icon-next"></i>Sepete At</a>






</div>
<div class="row"></div>

<style>

    .productBox {
        width: 200px;
        float: left;
  
    }

        .productBox img {
            width: 100%;
        }

        .productBox .title {
            font-weight: bold;
            text-align: center;
        }

        .productBox p {
            text-align: center;
        }
</style>